{% extends "post/base.html" %}

{% block contenido %}
    <h1>Mi Blog</h1>
    <h2>Lista de posts</h2>
    <ol>
        {% for post in posts_tecnologia %}
            <li style="background-color: burlywood;">
                <p><b>Título:</b> {{ post.titulo }}</p>
                <p><b>Autor:</b> {{ post.autor }}</p>
                <p><b>Resumen:</b> {{ post.contenido }}</p>
                <p><b>Tags:</b> {{ post.tags }}</p>
                <p><b>Fecha de creacion:</b> {{ post.fecha_creacion }}</p>
            </li>
        {% endfor %}
    </ol>
{% endblock contenido %}
